@import 'variables.scss';

a,
input,
h1, h2, h3, h4 {
    font-weight: lighter;
    color: $text-default-color;
}

input:hover,
a:hover,
a:focus {
    outline: none;
    text-decoration: none;
    color: $text-default-color;
}

.pointer:hover {
    cursor: pointer;
}