@import 'variables.scss';

$item-height: 7em;
$item-padding: 10px;
$item-content-height: calc( #{$item-height} - #{$item-padding} * 2); 

.product-item {
    list-style: none;
    width: 100%;
    background-color: #fff;    
    padding: $item-padding;
    height: $item-height;

    > * {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .image-wrapper {
        display: inline-block;

        img {
            width: 7em;
            height: $item-content-height;
        }
    }

    .product-info {
        display: inline-block;
        padding-left: .5em;
        vertical-align: middle;

        .item-name {
            font-size: 1.1em;
            color: $text-main-color;
        }

        .item-description {
            color: $text-default-color;
        }
    }

    .price-wrapper {
        vertical-align: middle;
        line-height: $item-content-height;
        height: $item-content-height;
        float: right;

        .old-price {
            color: $text-default-color;
            text-decoration: line-through;
        }
        
        .promo-price {
            color: $text-main-color;
        }
    }

}

.product-item:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
}