
.products-wrapper {
    background-color: #f7f7f7;

    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .product-count {
        display: inline-block;
        color: #a7a7a7;        
        padding-bottom: 7px;
        border-bottom: 2px solid #e6d2a6;
        margin-bottom: 35px;
        margin-top: 35px;
        text-transform: uppercase;
    }
}