
$border-input: 1px solid #ececec;

%input-icon-position {
    font-size: 12px;
    position: absolute;
    top: 50%;
}

$text-default-color: #cacaca;
$text-main-color: #000;

%container-config {
    width: 95vw;
    max-width: 95vw;
}